@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome To Alex's Currency Converter</h1>

Please select 'Exchange Currencies' in the left side bar
<img src="images/little-kitten-sits-near-dollars-260nw-1126455227.jpg" alt="cool" />